<&>
	<a ref="href" >
		<tag>{ item () }</tag>
	</a>
</&>

<style>
& {
	/*> a:hover > tag {
		background: #777;
		color: #EEE;
	}*/
}
</style>

<script>
	var item =	args .item__from
					.thru (dropRepeatsWith, json_equal)

	ref ('href') .thru (tap, function (_ref) {
		_ref .addEventListener ('click', function () {
			args .select__to (
				item ())
		})
	})

	item .thru (map, noop) .thru (tap, self .render)
</script>