match {
    margin: 0;
    position: relative;
    align-items: center !important;
	
    @extend .media;
    @extend .level;
    
    > match-graphic {
        @extend .media-left;
        
    	highlight-holder {
	    	color: black;
	    	background: #E9F0EA;
	    }	
    }
    
    > match-info {
        @extend .media-content;
        
        info-holder {
        	font-size: 0.9em;
        	
        	match-time {
        		color: black;
        	}
        	
	        match-location {
        		color: black;
	        	
	        	> icon-holder {
			    	vertical-align: bottom;
    		    	icon.fa-map-marker {
    			    	color: #C0392B;
    			    }
			    }
		    }
	        match-type {
				color: #918B8B;
		    }
		    match-opponent {
	            color: #918B8B;
		    }
	    }
    }
    
    > match-status {
    	position: absolute;
	    right: 6px;
	    top: 50%;
	    color: black;
	    transform: translateY(-50%);
    }
    
    > match-substatus {
    	position: absolute;
    	right: 4px;
    	bottom: 2px;
    	
    	font-size: 0.9em;
        color: #146EB4;
    }
}/*



team-picture {
	@extend image-holder;
	@extend [size="128x128"];
	
	display: inline-flex;
	
	border-radius: 32px;
	overflow: hidden;
	
	image-holder[size="64x64"] & {
		transform: scale(0.5) translateX(-50%) translateY(-50%);
	}
}
team-ranking {
	@extend image-holder;
	@extend [size="128x128"];
	
	display: inline-flex;
	
	league-table {
	    position: absolute;
	    left: 50%;
	    top: 42%;
	    transform: translateX(-50%) translateY(-50%);
	}
	rank-stars {
		position: absolute;
		display: flex;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    text-align: center;
        color: #5DADE2;
	}
	rank-number {
		position: absolute;
	    left: 50%;
	    top: 45%;
	    transform: translateX(-50%) translateY(-50%);
	    font-size: 3em;
	    font-weight: 500;
		color: #34495E;
	}
	
	image-holder[size="64x64"] & {
		transform: scale(0.5) translateX(-50%) translateY(-50%);
		rank-number {
	    	font-weight: 900;
		}
		team-ranking rank-stars icon-holder {
			font-size: 2em;
		}
	}
}
team-stats {
	> label {
		font-size: 1.3em;
		team-approval {
			font-size: 12px;
		}
	}
	label + data-holder {
		margin-left: 0;
	}
}




opponent-rating {
	like, dislike {
		> svg {
			display: block;
			margin: 0 auto;
		}
		&[active], &:hover {
			&:before {
			    content: '';
			    position: absolute;
			    left: 50%;
			    top: 60%;
			    transform: translateX(-50%) translateY(-50%);
			    display: block;
			    height: 48px;
			    width: 48px;
			    border-radius: 36px;
			    z-index: -1;
			}
		}
	}
	like:before {
	    background: rgba(60,146,202, 0.75);
	}
	dislike:before {
	    background: rgba(224,69,36, 0.75);
	}
	dislike {
		svg {
			transform: translateY(20%);
		}
	}
}

score-control {
	@extend info-graphic;
	
	margin: 0px 0px 0px 0px;
	
    justify-content: inherit;
    
    label[row] {
    	home-team-label, away-team-label {
    		 > * {
			    display: block;
			    text-align: center;
			    font-size: 1.1em;
			    color: black;
			}
			> label {
    			font-weight: 900;
			}
			[active] {
				color: #1256AD;
    			font-weight: 500;
			}
    	}
    }
	control-holder[row] {
		margin: 0;
		
		score-input {
			background: rgba(73,173,226,0.3);
		    position: absolute;
		    display: block;
		    top: 50%;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    height: 80%;
		    width: 80%;
		    border-radius: 100%;
			
			> input[type="number"] {
			    background: transparent;
			    overflow: visible;
			    border: none;
			    font-size: 3.5em;
			    position: absolute;
			    display: block;
			    text-align: center;
			    width: 2em;
			    height: 2em;
			    top: 50%;
			    left: 50%;
			    transform: translateX(-50%) translateY(-50%);
			    
			    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
				    -webkit-appearance: none;
				    margin: 0;
				}
				&::-webkit-input-placeholder {
				    color: rgba(0,0,0,0.25);
				}
			}
		}
    	versus {
		    font-size: 3.5em;
		    line-height: 1em;
		    font-weight: 900;
    		text-align: center;
		    display: block;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translateX(-50%) translateY(-50%);
		}
	}
}


strength-stats {
	> stats-labels, > stats-info {
		justify-content: space-between;
		display: flex;
		
		> * {
		    width: 30px;
		    text-align: center;
		}
	}
	
	> stats-labels {
		font-weight: 600;
	}
}

reviews-stats {
    display: inline-flex;
    justify-content: center;
    line-height: 40px;
	
	> svg {
	    vertical-align: bottom;
	    padding-right: 3px;
	    transform: translateY(10%);
	}
	> info {
		font-weight: 600;
	}
}*/