[match-edge] {
  position: absolute;
  height: auto;
  width: auto;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

[match-me] {
  /*== position-relative full-height full-width top-down*/
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden; }

[list] {
  will-change: scroll-position; }

[scroll] {
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch; }

[scroll]::-webkit-scrollbar {
  display: none; }

svg [template] {
  display: none; }

/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIFvxabc8-Ua_u_bDyl2V6ao.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwII_1JgVyIQZ7vlaYT5eo8zo.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIJpID8tihKRMKfpfDQ5OzSE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Light Italic"), local("Merriweather-LightItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIHM1hBkL4m68a-ReB_y0NYc.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v17/So5lHxHT37p2SS4-t60SlJX7FfjVuZf3W7tKvrYzIk8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v17/So5lHxHT37p2SS4-t60SlOb988d5RHZc66psPc8fYGQ.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v17/So5lHxHT37p2SS4-t60SlMAbIeegqMtwkwn2ZHUR4Nk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v17/So5lHxHT37p2SS4-t60SlBMBlNeli-0RcAdOFWWLdxQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIEVUTRPtBn3BSc_rW_ryx7U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIDaggPqPUlqZtH2DnDrcMQE.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIOR3LJ09PnibSpWhv21tZ8w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIEcqRxak6Wc5LUVz-l064SE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwICR62gPmgX9pXMEmx1A9y0c.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIMbbw6pOSxajs_BxQ1hzVho.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIOSQfM42FHfzkXTnQR6vRvg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url(https://fonts.gstatic.com/s/merriweather/v17/EYh7Vl4ywhowqULgRdYwIN4rWrnaUG5GaGDO0TOZR8c.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nrpPmMW7T3WCII-UZW2GGCw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nqAAODQ6hKuKTT6yBk7tJss.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nhLwFvNxpkIoVzlXSkPSYkA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nk4GofcKVZz6wtzX_QUIqsI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v17/RFda8w1V0eDZheqfcyQ4EK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v17/RFda8w1V0eDZheqfcyQ4EJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v17/RFda8w1V0eDZheqfcyQ4ED0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v17/RFda8w1V0eDZheqfcyQ4EOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nrPaLDTSXeXFRL0dx0NiHII.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6ntkZ6ofoXFVR94fBb90XSvU.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nuIaMZP5eRGvEWe_CNIU_oY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nnNuWYKPzoeKl5tYj8yhly0.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6npRmMktGnN9fECZcESJ2wdY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nhYk6kXjxbl9hCl_j54B6tY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6nu8B3NNHiE7lEpFTE0KxUWk.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url(https://fonts.gstatic.com/s/merriweather/v17/ZvcMqxEwPfh2qDWBPxn6ntDLwwZd-mS_8JqJ_KGXwxs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Sans Light Italic"), local("MerriweatherSans-LightItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVZQnJ6jNVR5ny37t9nSm1vT3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Merriweather Sans Light Italic"), local("MerriweatherSans-LightItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVVyxQjJdVDgrQF1Nc7eshrI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Sans Italic"), local("MerriweatherSans-Italic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascb0czo27AklEAaHz4fJ0oZE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Sans Italic"), local("MerriweatherSans-Italic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/3Mz4hOHzs2npRMG3B1ascefU2ka509O1odprhyXBUMU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Sans Bold Italic"), local("MerriweatherSans-BoldItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVRmzdD2i0Yy32wXknJg7uXD3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Sans Bold Italic"), local("MerriweatherSans-BoldItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVafo0sDQ75c9ExQ-26lwTdA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Merriweather Sans ExtraBold Italic"), local("MerriweatherSans-ExtraBoldItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVVXghct84AymK6x3dEzytIL3rGVtsTkPsbDajuO5ueQw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Merriweather Sans ExtraBold Italic"), local("MerriweatherSans-ExtraBoldItalic"), url(https://fonts.gstatic.com/s/merriweathersans/v8/nAqt4hiqwq3tzCecpgPmVfrUSW10CwTuVx9PepRx9ls.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Sans Light"), local("MerriweatherSans-Light"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowSenBolNkDBl6TBgAIdCkYw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Sans Light"), local("MerriweatherSans-Light"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowQaqY1RzDqUCoj4OhtiyHDU.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Sans"), local("MerriweatherSans-Regular"), url(https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sD48MEBspdEKklcQvcIk8pU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Sans"), local("MerriweatherSans-Regular"), url(https://fonts.gstatic.com/s/merriweathersans/v8/AKu1CjQ4qnV8MUltkAX3sMZ4HySTEWshgORbPp2tk8k.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Sans Bold"), local("MerriweatherSans-Bold"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowdqgfwRMvy6EDFppit6Do18.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Sans Bold"), local("MerriweatherSans-Bold"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowbvMLSVzqOGkoxdgTSsKqWM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Merriweather Sans ExtraBold"), local("MerriweatherSans-ExtraBold"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowSvX6IlkcPQx4hJX-sT8odI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Merriweather Sans ExtraBold"), local("MerriweatherSans-ExtraBold"), url(https://fonts.gstatic.com/s/merriweathersans/v8/6LmGj5dOJopQKEkt88GowSdYkh4h72QvAQSOPbRA0ug.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  src: local("Mogra Regular"), local("Mogra-Regular"), url(https://fonts.gstatic.com/s/mogra/v3/281rYjzokDc4h4Xig0U8hQ.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200B-200D, U+20B9, U+25CC, U+A830-A839; }

@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  src: local("Mogra Regular"), local("Mogra-Regular"), url(https://fonts.gstatic.com/s/mogra/v3/5Nlgx-j0EvktoNBNQhWk2Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Mogra';
  font-style: normal;
  font-weight: 400;
  src: local("Mogra Regular"), local("Mogra-Regular"), url(https://fonts.gstatic.com/s/mogra/v3/iNadxienda3-9Z6rMIyYGg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

dl {
  margin: 0;
  padding: 0; }

dt {
  margin: 0;
  padding: 0; }

dd {
  margin: 0;
  padding: 0; }

blockquote {
  margin: 0;
  padding: 0; }

figure {
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  padding: 0; }

legend {
  margin: 0;
  padding: 0; }

textarea {
  margin: 0;
  padding: 0; }

pre {
  margin: 0;
  padding: 0; }

iframe {
  margin: 0;
  padding: 0; }

hr {
  margin: 0;
  padding: 0; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0; }

h3 {
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

h5 {
  margin: 0;
  padding: 0; }

h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 100%;
  font-weight: normal; }

h2 {
  font-size: 100%;
  font-weight: normal; }

h3 {
  font-size: 100%;
  font-weight: normal; }

h4 {
  font-size: 100%;
  font-weight: normal; }

h5 {
  font-size: 100%;
  font-weight: normal; }

h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button {
  margin: 0; }

input {
  margin: 0; }

select {
  margin: 0; }

textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%; }

embed {
  max-width: 100%; }

object {
  max-width: 100%; }

audio {
  max-width: 100%; }

video {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0;
  text-align: left; }

th {
  padding: 0;
  text-align: left; }

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

article {
  display: block; }

aside {
  display: block; }

figure {
  display: block; }

footer {
  display: block; }

header {
  display: block; }

hgroup {
  display: block; }

section {
  display: block; }

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

button {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

input {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

select {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden; }

a {
  /*color: #00d1b2;*/
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out; }

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0; }

input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

pre {
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.8em;
  white-space: pre;
  word-wrap: normal; }

pre code {
  -webkit-overflow-scrolling: touch;
  background: none;
  color: inherit;
  display: block;
  font-size: 1em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem; }

table {
  width: 100%; }

table td {
  text-align: left;
  vertical-align: top; }

table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: #363636; }

html {
  background: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.box:not(:last-child) {
  margin-bottom: unset; }

.section {
  background: transparent; }

small {
  vertical-align: middle; }

a {
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out; }

a:hover {
  color: #363636; }

icon-holder {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  font-size: 1.4em;
  height: 1em;
  width: 1em;
  vertical-align: middle; }

icon-holder > [icon] {
  font-size: 21px; }

icon-holder svg {
  width: 1em;
  height: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

image-holder {
  display: block;
  position: relative;
  /*
		padding-top: y/x%;
	*/ }

image-holder > img {
  display: block;
  height: auto;
  width: 100%; }

image-holder[fix] > img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%; }

fullscreen-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

fullscreen-holder[active] {
  opacity: 1;
  transition: opacity 0.1s ease-out; }

fullscreen-holder:not([active]) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: z-index 0.1s step-end, opacity 0.1s ease-out; }

tag {
  color: rgba(0, 0, 0, 0.870588);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  padding-left: 1em;
  padding-right: 1em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: default;
  text-decoration: none;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  position: relative;
  background-color: #e0e0e0;
  border-radius: 1em;
  white-space: nowrap;
  width: fit-content; }

tag + tag {
  margin-left: 0.7em; }

segment {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-color: #5DADE2;
  background: #FFF;
  color: #5DADE2;
  height: 1.5em;
  line-height: 1.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap; }

segment[active] {
  background: #5DADE2;
  color: #fff; }

segment:hover:not([active]) {
  border-color: #5DADE2;
  color: #5DADE2; }

info-graphic {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

modal {
  display: block;
  opacity: 1;
  visibility: visible;
  overflow: visible;
  /*max-height: 640px;*/
  text-align: center;
  padding: 0;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  width: 293.75px;
  box-sizing: border-box;
  transition: top cubic-bezier(0, 1, 0.5, 1) 100ms;
  z-index: 99999999;
  background: #fff;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08); }

[row-layout] {
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: flex; }

[row-layout] > label {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center; }

[row-layout] > item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center; }

[row-layout] > label {
  flex-grow: 0; }

[row-layout] > item {
  flex-grow: 1;
  margin-left: 20px; }

[row-layout]:not(:last-child) {
  margin-bottom: unset; }

[strip-layout] {
  height: 40px;
  text-align: center;
  outline: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e6e6e6; }

[strip-layout] > [patch-layout] {
  flex-grow: 1;
  float: left;
  position: relative; }

[strip-layout] > [patch-layout][active] {
  background: rgba(0, 0, 0, 0.05); }

[strip-layout] > label {
  outline: 0;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  float: left;
  color: #393939;
  user-select: none; }

[strip-layout] > label[active] {
  background: #f0f0f0; }

[page-layout] {
  height: 100%;
  display: flex;
  flex-flow: column;
  transition: opacity 2s cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms; }

[page-layout]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background: white; }

[page-layout] > [page-component] {
  flex: 0 1 auto; }

[page-layout] > component-main-content {
  flex: 1 1 auto;
  position: relative; }

[page-layout][no-background] {
  background: white; }

[page-layout][no-background]:after {
  content: unset; }

[page-layout][light-background] {
  background: rgba(255, 255, 255, 0.4); }

[side-by-side-layout] {
  justify-content: space-between;
  display: flex;
  position: relative; }

[side-by-side-layout] > [left] {
  text-align: left; }

[side-by-side-layout] > [right] {
  text-align: right; }

[side-by-side-layout] > [versus] {
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%); }

custom-page {
  display: flex; }

custom-page > svg {
  width: 100%;
  height: 100%; }

modules-date-picker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

modules-date-picker[active] {
  opacity: 1;
  transition: opacity 0.1s ease-out; }

modules-date-picker:not([active]) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: z-index 0.1s step-end, opacity 0.1s ease-out; }

@-webkit-keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes flatpickrFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

modules-date-picker {
  transition-duration: 0.3s !important;
  /*
            /*rtl:begin:ignore*/
  /*
            /*rtl:end:ignore*/
  /*
            /*rtl:begin:ignore*/
  /*
            /*rtl:end:ignore*/ }

modules-date-picker:not([active]) {
  opacity: 0;
  pointer-events: unset;
  z-index: 99999; }

modules-date-picker > modules-modal-holder {
  /*position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.5);*/ }

modules-date-picker > modules-modal-holder input[date-picker] {
  opacity: 0;
  position: absolute; }

modules-date-picker > modules-modal-holder .flatpickr-calendar {
  top: 50%;
  left: 50%;
  position: absolute !important;
  transform: translateX(-50%) translateY(-50%); }

modules-date-picker > modules-modal-holder .flatpickr-calendar:before {
  content: initial; }

modules-date-picker > modules-modal-holder .flatpickr-calendar:after {
  content: initial; }

modules-date-picker .flatpickr-calendar {
  background: transparent;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 293.75px;
  box-sizing: border-box;
  -webkit-transition: top cubic-bezier(0, 1, 0.5, 1) 100ms;
  transition: top cubic-bezier(0, 1, 0.5, 1) 100ms;
  z-index: 99999999;
  background: #fff;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08); }

modules-date-picker .flatpickr-calendar.open {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: 640px; }

modules-date-picker .flatpickr-calendar.inline {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: 640px; }

modules-date-picker .flatpickr-calendar.open {
  display: inline-block;
  -webkit-animation: flatpickrFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1);
  animation: flatpickrFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1); }

modules-date-picker .flatpickr-calendar.inline {
  display: block;
  position: relative; }

modules-date-picker .flatpickr-calendar.static {
  position: relative;
  top: 2px; }

modules-date-picker .flatpickr-calendar.static.open {
  display: block; }

modules-date-picker .flatpickr-calendar.hasWeeks {
  width: auto; }

modules-date-picker .flatpickr-calendar.dateIsPicked.hasTime .flatpickr-time {
  height: 40px; }

modules-date-picker .flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto; }

modules-date-picker .flatpickr-calendar:before {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px; }

modules-date-picker .flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px; }

modules-date-picker .flatpickr-calendar.rightMost:before {
  left: auto;
  right: 22px; }

modules-date-picker .flatpickr-calendar.rightMost:after {
  left: auto;
  right: 22px; }

modules-date-picker .flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px; }

modules-date-picker .flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px; }

modules-date-picker .flatpickr-calendar.arrowTop:before {
  bottom: 100%; }

modules-date-picker .flatpickr-calendar.arrowTop:after {
  bottom: 100%; }

modules-date-picker .flatpickr-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6; }

modules-date-picker .flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff; }

modules-date-picker .flatpickr-calendar.arrowBottom:before {
  top: 100%; }

modules-date-picker .flatpickr-calendar.arrowBottom:after {
  top: 100%; }

modules-date-picker .flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6; }

modules-date-picker .flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff; }

modules-date-picker .flatpickr-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  height: 28px;
  line-height: 24px;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

modules-date-picker .flatpickr-prev-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 16px;
  line-height: 16px; }

modules-date-picker .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 16px;
  line-height: 16px; }

modules-date-picker .flatpickr-prev-month i {
  position: relative; }

modules-date-picker .flatpickr-next-month i {
  position: relative; }

modules-date-picker .flatpickr-prev-month.flatpickr-prev-month {
  /*
            /*rtl:begin:ignore*/
  /*
            */
  left: calc(3.57% - 1.5px);
  /*
            /*rtl:end:ignore*/
  /*
            */ }

modules-date-picker .flatpickr-next-month.flatpickr-prev-month {
  /*
            /*rtl:begin:ignore*/
  /*
            */
  left: calc(3.57% - 1.5px);
  /*
            /*rtl:end:ignore*/
  /*
            */ }

modules-date-picker .flatpickr-prev-month.flatpickr-next-month {
  /*
            /*rtl:begin:ignore*/
  /*
            */
  right: calc(3.57% - 1.5px);
  /*
            /*rtl:end:ignore*/
  /*
            */ }

modules-date-picker .flatpickr-next-month.flatpickr-next-month {
  /*
            /*rtl:begin:ignore*/
  /*
            */
  right: calc(3.57% - 1.5px);
  /*
            /*rtl:end:ignore*/
  /*
            */ }

modules-date-picker .flatpickr-prev-month:hover {
  color: #959ea9; }

modules-date-picker .flatpickr-next-month:hover {
  color: #959ea9; }

modules-date-picker .flatpickr-prev-month:hover svg {
  fill: #f64747; }

modules-date-picker .flatpickr-next-month:hover svg {
  fill: #f64747; }

modules-date-picker .flatpickr-prev-month svg {
  width: 14px; }

modules-date-picker .flatpickr-next-month svg {
  width: 14px; }

modules-date-picker .flatpickr-prev-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit; }

modules-date-picker .flatpickr-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit; }

modules-date-picker .numInputWrapper {
  position: relative;
  height: auto; }

modules-date-picker .numInputWrapper input {
  display: inline-block; }

modules-date-picker .numInputWrapper span {
  display: inline-block; }

modules-date-picker .numInputWrapper input {
  width: 100%; }

modules-date-picker .numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.05);
  box-sizing: border-box; }

modules-date-picker .numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1); }

modules-date-picker .numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2); }

modules-date-picker .numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
  top: 33%; }

modules-date-picker .numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0; }

modules-date-picker .numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6); }

modules-date-picker .numInputWrapper span.arrowDown {
  top: 50%; }

modules-date-picker .numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6); }

modules-date-picker .numInputWrapper span svg {
  width: inherit;
  height: auto; }

modules-date-picker .numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5); }

modules-date-picker .numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05); }

modules-date-picker .numInputWrapper:hover span {
  opacity: 1; }

modules-date-picker .flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  top: 5px;
  display: inline-block;
  text-align: center; }

modules-date-picker .flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  padding-left: 7px; }

modules-date-picker .flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block; }

modules-date-picker .flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.9); }

modules-date-picker .flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.9); }

modules-date-picker .flatpickr-current-month input.cur-year {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: initial;
  border: 0;
  border-radius: 0;
  vertical-align: initial; }

modules-date-picker .flatpickr-current-month input.cur-year:focus {
  outline: 0; }

modules-date-picker .flatpickr-current-month input.cur-year[disabled] {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none; }

modules-date-picker .flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none; }

modules-date-picker .flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden; }

modules-date-picker .flatpickr-days {
  padding: 0 2.375px;
  outline: 0;
  text-align: left;
  width: 293.75px;
  box-sizing: border-box;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-right: 1px solid transparent; }

modules-date-picker .flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 38px;
  height: 38px;
  line-height: 38px;
  margin: 0px 1.5px;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

modules-date-picker .flatpickr-day.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.prevMonthDay.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.nextMonthDay.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.today.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.prevMonthDay.today.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.nextMonthDay.today.inRange {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day:hover {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.prevMonthDay:hover {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.nextMonthDay:hover {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.prevMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

modules-date-picker .flatpickr-day.today {
  border-color: #959ea9; }

modules-date-picker .flatpickr-day.today:hover {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff; }

modules-date-picker .flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff; }

modules-date-picker .flatpickr-day.selected {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.startRange {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.endRange {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.selected:focus {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.startRange:focus {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.endRange:focus {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.selected:hover {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.startRange:hover {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.endRange:hover {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.selected.prevMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.startRange.prevMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.endRange.prevMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.selected.nextMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.startRange.nextMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.endRange.nextMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7; }

modules-date-picker .flatpickr-day.selected.startRange {
  border-radius: 50px 0 0 50px; }

modules-date-picker .flatpickr-day.startRange.startRange {
  border-radius: 50px 0 0 50px; }

modules-date-picker .flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px; }

modules-date-picker .flatpickr-day.selected.endRange {
  border-radius: 0 50px 50px 0; }

modules-date-picker .flatpickr-day.startRange.endRange {
  border-radius: 0 50px 50px 0; }

modules-date-picker .flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0; }

modules-date-picker .flatpickr-day.inRange {
  border-radius: 0;
  box-shadow: -3.75px 0 0 #e6e6e6, 3.75px 0 0 #e6e6e6; }

modules-date-picker .flatpickr-day.disabled {
  pointer-events: none; }

modules-date-picker .flatpickr-day.disabled:hover {
  pointer-events: none; }

modules-date-picker .flatpickr-day.disabled {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.disabled:hover {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.prevMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.notAllowed {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.notAllowed.prevMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker .flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

modules-date-picker span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
  height: 27.166666666666668px;
  line-height: 24px;
  margin: 0;
  background: transparent;
  text-align: center;
  display: block;
  float: left;
  width: 14.28%;
  font-weight: bold;
  margin: 0;
  padding-top: 3.166666666666667px; }

modules-date-picker .rangeMode .flatpickr-day {
  margin-top: 1px; }

modules-date-picker .flatpickr-weekwrapper {
  display: inline-block;
  float: left; }

modules-date-picker .flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  box-shadow: 1px 0 0 #e6e6e6; }

modules-date-picker .flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%; }

modules-date-picker .flatpickr-weekwrapper span.flatpickr-day {
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
  border: 0; }

modules-date-picker .flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  overflow: hidden; }

modules-date-picker .flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  box-sizing: border-box; }

modules-date-picker .flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e6e6e6; }

modules-date-picker .flatpickr-time:after {
  content: "";
  display: table;
  clear: both; }

modules-date-picker .flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 0%;
  width: 40%;
  height: 40px;
  float: left; }

modules-date-picker .flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939; }

modules-date-picker .flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939; }

modules-date-picker .flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%; }

modules-date-picker .flatpickr-time.time24hr .numInputWrapper {
  width: 49%; }

modules-date-picker .flatpickr-time input {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  cursor: pointer;
  color: #393939;
  font-size: 14px;
  position: relative;
  box-sizing: border-box; }

modules-date-picker .flatpickr-time input.flatpickr-hour {
  font-weight: bold; }

modules-date-picker .flatpickr-time input.flatpickr-minute {
  font-weight: 400; }

modules-date-picker .flatpickr-time input.flatpickr-second {
  font-weight: 400; }

modules-date-picker .flatpickr-time input:focus {
  outline: 0;
  border: 0; }

modules-date-picker .flatpickr-time .flatpickr-time-separator {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

modules-date-picker .flatpickr-time .flatpickr-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

modules-date-picker .flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400; }

modules-date-picker .flatpickr-time .flatpickr-am-pm:hover {
  background: #f0f0f0; }

modules-date-picker .flatpickr-time .flatpickr-am-pm:focus {
  background: #f0f0f0; }

modules-date-picker .hasWeeks .flatpickr-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

modules-date-picker .hasTime .flatpickr-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

modules-date-picker .hasWeeks .flatpickr-days {
  border-left: 0; }

@media all and (-ms-high-contrast: none) {
  modules-date-picker .flatpickr-month {
    padding: 0; }
  modules-date-picker .flatpickr-month svg {
    top: 0 !important; } }

modules-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

modules-loader[active] {
  opacity: 1;
  transition: opacity 0.1s ease-out; }

modules-loader:not([active]) {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: z-index 0.1s step-end, opacity 0.1s ease-out; }

modules-loader:not([active]) {
  opacity: 0;
  pointer-events: unset;
  z-index: 99999; }

modules-loader > modules-modal-holder > item {
  color: rgba(255, 255, 255, 0.85);
  text-align: center; }

modules-loader > modules-modal-holder > item modules-loading-item > div > spinner:after {
  left: calc(50% - 16px);
  top: calc(50% - 16px);
  width: 64px;
  height: 64px;
  border: 7px solid #fbfbfb;
  border-color: transparent transparent rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.7) !important; }

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

modules-loading-item {
  display: block;
  padding: 1.25rem;
  display: block;
  box-shadow: none;
  background: transparent; }

modules-loading-item > div {
  align-items: flex-start;
  display: flex;
  text-align: left;
  justify-content: center; }

modules-loading-item > div > spinner:after {
  color: transparent;
  pointer-events: none;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  position: relative;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  animation: spinAround 600ms infinite linear;
  border: 5px solid #dbdbdb;
  border-color: transparent transparent rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.7) !important; }

modules-modal-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

modules-modal-holder > item {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%); }

modules-snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

modules-snackbar > snackbar {
  display: inline-block;
  min-width: 100%;
  max-height: 0;
  opacity: 0;
  -webkit-transition: opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0.25s, max-height 0.25s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0.25s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

modules-snackbar > snackbar > item {
  display: block;
  padding: .8rem 1.5rem;
  margin-top: 3px;
  font-size: .9rem;
  color: #fff;
  background-color: #323232;
  border-radius: 2px; }

modules-snackbar[active] > snackbar {
  max-height: 100px;
  opacity: 1;
  -webkit-transition: opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0s, max-height 0.25s;
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), opacity 0s 0s, max-height 0.25s, -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media (min-width: 544px) {
  modules-snackbar {
    right: 1rem;
    left: 1rem;
    width: 100%; }
  modules-snackbar > snackbar {
    min-width: 280px; } }
