body {
  background: #BF7167;
  padding: 0;
  margin: 0;

}

body > header {
  position: relative;
  height: 100px;
  width: 100%;
/*  background: rgba(255,255,255,0.2);*/

  text-align: center;
  font-size: 50px;
  line-height: 100px;
}
body > new-team {
  position: relative;
  display: flex;
  height: 100px;
  background: rgba(0,0,255,0.5);
  margin: 10px 75px;
}
body > new-team > icon {
  height: 100px;
  width: 100px;
  display: block;
  text-align: center;
  line-height: 100px;
  font-size: 60px;
}
body > new-team > text {
  flex-grow: 1;
  text-align: center;
  line-height: 100px;
  font-size: 40px;
  transform: translateX(-5%);
}
team > post > user {
  height: 50px;
  margin: 20px 50px 0px 50px;
  display: block;
}
team > post > players {
  height: 200px;
  margin: 0px 50px 20px 50px;
  display: flex;
  justify-content: space-around;
}
team > post > players > position {
  flex-basis: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  flex-grow: 1;
}
team > post > players > position > * {
  text-align: center;
  line-height: 50px;
}
team > post > players > position > player > img {
  width: 100%;
}
players > position > name {
  font-size: 30px;
}
team > post > user {
  font-size: 22px;
}
team > comment-section {
  display: block;
  width: 100%;
}
team > comment-section > comment {
  height: 50px;
  display: flex;
  padding: 10px;
}
team > comment-section > comment > username {
  flex-basis: 100px;
  flex-grow: 0;
}
team > comment-section > comment > item {
  flex-grow: 1;
}
team > comment-section > post-comment {
  height: 50px;
  display: flex;
  padding: 10px;
}
team > comment-section > post-comment > textarea {
  height: 100%;
  width: 100%;
  display: flex;
}
team > comment-section > post-comment > submit{
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  flex-basis: 100px;
  color: white;
  background: rgba(0,0,255, 0.7);
  font-size: 20px;
}
[template] {
  display: none;
}
