<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#register">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title>
			<component-page-title>Disclaimer and Terms of Agreements</component-page-title>
		</nav-title>
	</nav-bar>
</nav>
<component-main-content>
	<register>
		<label>
			Disclaimer text
		</label>
		<component-spacing height="20px" />
	
		<disclaimer>
			Disclaimer and Terms of Agreements
		</disclaimer>
	</register>
</component-main-content>

<style>
	@extend [page-layout];
	
	register {
		@extend [padded-layout];
		
		> label {
			color: black;
			font-weight: bold;
			font-size: 1.4em;
		}
	
		
		> a {
			&[maybe] {
		        &:after {
	        	    border: 2px solid #dbdbdb;
				    border-radius: 290486px;
				    border-right-color: transparent;
				    border-top-color: transparent;
				    content: "";
				    display: block;
				    position: relative;
				    left: 50%;
				    top: 50%;
				    position: absolute !important;
		            width: 32px;
		            height: 32px;
		            margin-left: -16px;
		            margin-top: -16px;
		            animation: spinAround 600ms infinite linear;
		            border: 5px solid #dbdbdb;
		            border-color: transparent transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) !important;
		        }
			}
		}
		
		> disclaimer {
			color: rgba(0, 0, 0, 0.298039);
		}
	}
</style>