<home>
	<label>CODE&#x3E;<br>&#x3C;WARS</label>
	
	<img src="https://ibin.co/3I5zb7FQHEYr.png" >
	
	<component-spacing height="40px" />
	
	<component-action>
		<a href="#login">Login</a>
	</component-action>
	<component-spacing height="10px" />
	<component-action>
		<a href="#register">Register</a>
	</component-action>
</home>

<style>
	@extend [page-layout];
	
	background: #4FABFF;
	color: white;
	
	home {
		flex-direction: column;

		> label {
			font-weight: bold;
		    display: block;
		    font-size: 5em;
		    text-align: center;
		    font-family: CONSOLAS, COURIER;
		}

		> component-action {
		    padding: 0 40px;
			> a {
				background: white;
	  			color: #50abf1;
			}
		}
		
		> img {
			display: block;
			padding: 20px ;
			max-width: 180px;
			height: 0 auto;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>