<span ref="span">{ my ('message') || '未輸入' }</span><svg ref="svg" width="9" height="16" viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:figma="http://www.figma.com/figma/ns"><title>right-arrow</title><desc>Created using Figma</desc><g id="Canvas" transform="translate(734 258)" figma:type="canvas"><g id="right-arrow" style="mix-blend-mode:normal;" figma:type="frame"><g id="Group" style="mix-blend-mode:normal;" figma:type="frame"><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#0b39f1b4-0614-4a28-a406-f607ebc22df0" transform="translate(-733.297 -256.973)" fill="#CCD1D1" style="mix-blend-mode:normal;"/></g><g id="Vector" style="mix-blend-mode:normal;" figma:type="vector"><use xlink:href="#dd187232-741f-4707-87f3-4b5c131211ec" transform="translate(-733.721 -257.397)" fill="#CCD1D1" style="mix-blend-mode:normal;"/></g></g></g></g><defs><path id="0b39f1b4-0614-4a28-a406-f607ebc22df0" d="M 0.8484 14.0484L -6.63757e-08 13.2L 6.1755 7.0242L -6.63757e-08 0.8484L 0.8484 1.02997e-08L 7.8726 7.0242L 0.8484 14.0484Z"/><path id="dd187232-741f-4707-87f3-4b5c131211ec" d="M 1.2726 14.8968L 6.63757e-08 13.6242L 6.1755 7.4484L 6.63757e-08 1.2726L 1.2726 0L 8.7213 7.4484L 1.2726 14.8968ZM 0.8484 13.6242L 1.2726 14.0484L 7.8726 7.4484L 1.2726 0.8484L 0.8484 1.2726L 7.0239 7.4484L 0.8484 13.6242Z"/></defs></svg>

<fullscreen-holder active={ my ('picking') }>
	<yield />
</fullscreen-holder>

<style>
	> span {
		padding-right: 0.5em;
	}
	> svg {
		vertical-align: sub;
		display: inline-block;
	}
</style>

<script>
	self .establish ('span', ref) .establish ('svg', ref)


	self .remembers ('picking')	
	self .impressions ('picking') .thru (map, noop) .thru (tap, self .render);
	self .root .addEventListener ('click', function (e) {
		if (e .target === my ('span') || e .target === my ('svg'))
			self .mention ('picking', true);
	});
		
	self .establish ('message', constant (self .impressions (args .message__from)))	
	self .impressions ('message')
		.thru (delay, 150)
		.thru (tap, function () {
			self .mention ('picking', false);
		})
</script>