<a>
	<tag>{ my ('tag') }</tag>
</a>

<style>
	> a:hover > tag {
	    background: #777;
	    color: #EEE;
	}
</style>

<script>
	self
		.establish ('tag', dependent (function () {
			return my (args .tag__from);
		}, self .impressions (args .tag__from)))
		
	self .impressions (args .tag__from) .thru (tap, self .render)
</script>