<nav>
	<nav-bar>
		<nav-buttons>
		</nav-buttons>
		<nav-title>
			<component-page-title>Hello World! Ready to Code?</component-page-title>
		</nav-title>
		<nav-buttons>
			<a href="#home">
				<component-logout-button />
			</a>
		</nav-buttons>
	</nav-bar>
</nav>
<component-main-content>
	<ranking>
	</ranking>
	<component-spacing height="75px" />
</component-main-content>
<component-tabs />

<style>
	@extend [page-layout];
	
	ranking {
	    overflow: scroll;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
    
		> label {
			color: #4FABFF;
			font-weight: bold;
			font-size: 1.4em;
			display: block;
			padding: 0 10px;
		}
		
	}
</style>

<script>
	self
		.remembers ('questions-info')
		.establish (':subcategories', function (requests) { 
			return 	self .impressions ('questions-info')
						.thru (map, function (question_list) {
							var categories = {};
							question_list .forEach (function (question) {
								categories [question .category] = true;
							});
							return 	Object .keys (categories)
										.sort (function (a, b) {
											return a > b;
										})
										.map (function (category) {
											return { category: category };
										});
						})
						.thru (delay, 400)
						.thru (dropRepeatsWith, json_equal)
		})
		.remembers (':item-height', function (item) {
			return 135;
		})
			
	self 
		.establish ('status', constant (
			mechanism (function () {
				if (my (':subcategories') .length)
					return 'loaded';
				else
					return 'no-items'
			}, [self .impressions (':subcategories')])
				.thru (tap_ (function (status) {
					if (! status .hasVal)
						status ('loading')
				}))
		))
		.impressions ('status') .thru (tap, self .render)
		
	self
		.impressions (args .cycle__from)
			.thru (tap, function () {
				inquire (self .affiliated ('::questions'))
					.then (function (questions) {
						self .mention ('questions-info', questions)
					})
			})
</script>