<table>
	<tr>
		<th>一</th>
		<th>二</th>
		<th>三</th>
		<th>四</th>
		<th>五</th>
		<th>六</th>
		<th>日</th>
	</tr>
	<tr>
		<td><component-checkbox check__to={ mon } /></td>
		<td><component-checkbox check__to={ tue } /></td>
		<td><component-checkbox check__to={ wed } /></td>
		<td><component-checkbox check__to={ thu } /></td>
		<td><component-checkbox check__to={ fri } /></td>
		<td><component-checkbox check__to={ sat } /></td>
		<td><component-checkbox check__to={ sun } /></td>
	</tr>
</table>

<style>
	table {
		margin-bottom: 0;
		background: transparent !important;
		
		@extend .table;
		
		tr {
			background: transparent !important;
		}
		th, td {
			padding: 0 !important;
			text-align: center !important;
			text-align-last: center !important;
		}
	}
</style>

<script>
	var mon = stream ();
	var tue = stream ();
	var wed = stream ();
	var thu = stream ();
	var fri = stream ();
	var sat = stream ();
	var sun = stream ();
		
	mechanism (function () {
		return 	(mon () ? ['mon'] : []) .concat
				(tue () ? ['tue'] : []) .concat
				(wed () ? ['wed'] : []) .concat
				(thu () ? ['thu'] : []) .concat
				(fri () ? ['fri'] : []) .concat
				(sat () ? ['sat'] : []) .concat
				(sun () ? ['sun'] : [])
	}, [ mergeAll ([mon, tue, wed, thu, fri, sat, sun]) ])
	.thru (tap, known_as ('days'))
	.thru (tap, function (days) {
		args .days__to (days);
	})
</script>