<modal>
    <jersey ref="first" if={ jersey () [0] }>
        <label>{ jersey () [0] }</label>
    </jersey>
    <jersey ref="second" if={ jersey () [1] }>
        <label>{ jersey () [1] }</label>
    </jersey>
    <jersey ref="free">
        <component-field-control placeholder="其他球衣" input__to={ free_jersey } />
    </jersey>
</modal>


<style>
	> modal {
	    > jersey {
	        @extend [strip-layout];

            > label {
                &:hover {
                    @extend [active];  
                }
        	}	        
            > component-field-control {
	            @extend [patch-layout];
                
                height: unset;
                
                > placeholder {
                    left: 50%;
                    transform: translateX(-50%);
                }
                > input {
                    text-align: center;
                }
                
                &:hover {
                    @extend [active];  
                }
            }
    	}
	}
</style>

<script>
    var jersey = stream ([ '曼聯衫', '球衣二' ])
    var free_jersey = stream ()
        
    jersey
        .thru (dropRepeatsWith, json_equal)
        .thru (map, noop) .thru (tap, self .render)
        
    var first = ref ('first')
    var second = ref ('second')
    var free = ref ('free')
        
    first
        .thru (tap, function (_ref) {
            _ref .addEventListener ('click', function () {
                if (args .jersey__to)
                    args .jersey__to (jersey () [0])
            })
        })
    second
        .thru (tap, function (_ref) {
            _ref .addEventListener ('click', function () {
                if (args .jersey__to)
                    args .jersey__to (jersey () [1])
            })
        })
    free
        .thru (tap, function (_ref) {
            _ref .addEventListener ('click', function () {
                if (args .jersey__to)
                    args .jersey__to (free_jersey ())
            })
        })
    free_jersey
        .thru (tap, function () {
            if (args .jersey__to)
                args .jersey__to (free_jersey ())
        })
</script>