<selected-location>
    <input type="text" placeholder="請選擇球場" value={ location () } disabled readonly
    ><a disabled={ ! location () } ref="done"
        ><icon class="fa-check"
    /></a>    
</selected-location>
<football-field-map ref="map" />





<style>
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    
    display: flex;
    flex-direction: column;

    > selected-location {
        @extend .control;
        @extend .has-addons;
        
        margin-bottom: 0 !important;
        
        input {
        	@extend .input;
        	@extend .is-expanded;
        }
        a {
        	@extend .button;
            icon {
                line-height: 24px !important;
                
                @extend .fa;
            }
            
            &[__disabled] {
                @extend [disabled];
            }
        }
    }
    > football-field-map {
        flex: 1;
    }
</style>

<script>
    var location = stream () .thru (tap, known_as ('location'))   
    location
         .thru (map, noop) .thru (tap, self .render)
    
    ref ('done')
        .thru (tap, [function (ref) {
            ref .addEventListener ('click', function () {
                if (location ()) {
                    args .location__to (location ());
                } 
            });
        }])
    
    ref ('map')
        .thru (tap, [function (ref) {
        }])
            
    wait (500)
        .then (function () {
            location ('pitch here');
        })
</script>