<nav>
	<nav-bar>
		<nav-buttons>
			<a href="#register">
				<component-back-button />
			</a>
		</nav-buttons>
		<nav-title />
	</nav-bar>
</nav>
<component-main-content>
	<register>
		<label>
			Disclaimer and Terms of Agreements
		</label>
		<component-spacing height="20px" />
	
		<disclaimer>
			<p>The information contained on www.kodingkingdom.com website and mobile app (the "Service") is for general information 
			purposes only.</p>
			<p>Koding Kingdom (Hong Kong) Limited assumes no responsibility for errors or omissions in the contents on the Service.</p>
			<p>In no event shall Koding Kingdom (Hong Kong) Limited be liable for any special, direct, indirect, consequential, or 
			incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising 
			out of or in connection with the use of the Service or the contents of the Service. Koding Kingdom (Hong Kong) Limited 
			reserves the right to make additions, deletions, or modification to the contents on the Service at any time without 
			prior notice.</p>
			<p>Koding Kingdom (Hong Kong) Limited does not warrant that the website is free of viruses or other harmful components.</p>
			<p>This Disclaimer is licensed by TermsFeed to Koding Kingdom (Hong Kong) Limited.</p>
		</disclaimer>
	</register>
</component-main-content>

<style>
	@extend [page-layout];
	
	register {
		@extend [padded-layout];
		
		> label {
			color: black;
			font-weight: bold;
			font-size: 1.4em;
		}
	
		
		> a {
			&[maybe] {
		        &:after {
	        	    border: 2px solid #dbdbdb;
				    border-radius: 290486px;
				    border-right-color: transparent;
				    border-top-color: transparent;
				    content: "";
				    display: block;
				    position: relative;
				    left: 50%;
				    top: 50%;
				    position: absolute !important;
		            width: 32px;
		            height: 32px;
		            margin-left: -16px;
		            margin-top: -16px;
		            animation: spinAround 600ms infinite linear;
		            border: 5px solid #dbdbdb;
		            border-color: transparent transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) !important;
		        }
			}
		}
		
		> disclaimer {
			color: rgba(0, 0, 0, 1);
		}
	}
</style>