<nav>
	<nav-bar>
		<nav-buttons>
		</nav-buttons>
		<nav-title>
			<component-page-title>Hello World! Ready to Code?</component-page-title>
		</nav-title>
		<nav-buttons>
			<a href="#home">
				<component-logout-button />
			</a>
		</nav-buttons>
	</nav-bar>
</nav>
<component-main-content>
	<ranking>
		<table>
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th></th>
				<th>Score</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
			</tr>
			<tr active>
				<td>1</td>
				<td>You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
			<tr>
				<td>1</td>
				<td>Not You</td>
				<td><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /><icon class="fa-star" /></td>
				<td>1654</td>
				
			</tr>
		</table>
	</ranking>
</component-main-content>

	<component-tabs tab="quizes" />


<style>
	@extend [page-layout];
	
	ranking {
	    overflow: scroll;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
    
		> label {
			color: #4FABFF;
			font-weight: bold;
			font-size: 1.4em;
			display: block;
			padding: 0 10px;
		}
		@extend .table;
		@extend .is-narrow;
		
		background: transparent;
			
		tr {
			> td:nth-child(3) {
				min-width: 75px;
			}
			
			td {
				font-size: 0.9em;
				
				icon {
					vertical-align: baseline;
				}
			}
			th, td {
				padding: 5px;
				min-width: 40px;
				font-weight: normal;
				text-align: center;
			}	
			
			&:hover {
				background-color: rgba(245, 245, 245, 0.2);
			}
			&:first-child {
				background: hsla(0, 0%, 77%, 0.2)
			}
			&[active] {
				background: hsla(196, 29%, 69%, 0.4);
			}
		}
		
	}
</style>

<script>
</script>